.menuCard {
    background-color: white;
    width: 22rem;
    /* Fixed width */
    height: 34rem;
    /* Fixed height */
    border-radius: 1.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.495);
    display: flex;
    flex-direction: column;
    justify-content: start;

    >main {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: left;
        height: 100%;
        /* Fill the entire card */

        /* Image Section */
        >img {
            height: 6.375rem;
            /* Fixed height for image */
            width: 100%;
            object-fit: contain;
            margin-bottom: 1rem;
        }

        .prd-texts {
            height: 6.25rem;
        }

        /* Title Section */
        // >p:nth-child(3) {
        //     text-transform: uppercase;
        //     letter-spacing: 2px;
        //     font-size: 1rem;
        //     margin: 0;
        //     padding-top: 0.5rem;
        // }

        // /* Description Section (with truncation for overflowed text) */
        // >p:nth-child(4) {
        //     font-size: 0.9rem;
        //     text-align: center;
        //     margin-bottom: 1rem;
        // }

        /* Button Section */
    }

    #addtocartbtn {
        background-color: #fdc5b1;
        color: white;
        border: none;
        padding: 0.8rem 1.5rem;
        width: 100%;
        border-radius: 0.5rem;
        cursor: pointer;
        height: 50px;
        margin-top: auto;
    }

    #addtocartbtn:hover {
        background-color: #fb8263;
    }
}

@media screen and (max-width: 850px) {
    .menuCard {
        width: 80%;
        /* Responsive width for smaller screens */
        height: auto;
        /* Let height adjust */
        margin: 1rem 0;
        padding: auto;
    }
}